<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolean Query Search</title>
</head>
<body>
    <h1>Boolean Query Search</h1>
    <form method="POST">
        <table>
            <tr>
                <th>Condition</th>
                <th>Term 1</th>
                <th>Operator</th>
                <th>Term 2</th>
            </tr>
            <!-- creates a table with the input boxes and a condition selector-->
            {% for i in range(1, 5) %}
            <tr>
                <td>{{ i }}</td>
                <td><input type="text" name="term1_{{ i }}"></td>
                <td>
                    <select name="operator_{{ i }}">
                        <option value="unused">unused</option>
                        <option value="AND">AND</option>
                        <option value="OR">OR</option>
                        <option value="NOT">NOT</option>
                    </select>
                </td>
                <td><input type="text" name="term2_{{ i }}"></td>
            </tr>
            {% endfor %}
        </table>
        <button type="submit">Compute</button>
    </form>
</body>
</html>
